@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Plus+Jakarta+Sans:wght@400;500;600;700;800&family=Urbanist:wght@100&display=swap');

:root {
	--color-bg-1: #ffffff;
	--color-bg-2: #f5f5f5;
	--color-brand: #ffba00;
	--color-brand-light: #ffc628;
	--color-body: #a7a7a7;
	--color-border: rgba(255, 255, 255, 0);
	--color-heading: #000;
	--font-main: 'Plus Jakarta Sans';
	--border-radius: 32px;
}

body {
	background-color: var(--color-bg-1);
	color: var(--color-body);
	font-family: var(--font-main);
	line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
	color: var(--color-heading);
}

a {
	transition: all 0.4s ease;
	text-decoration: none;
	color: var(--color-body);
}

a:hover {
	color: var(--color-brand);
}

img {
	width: 100%;
}

section {
	padding-top: 120px;
	padding-bottom: 120px;
}

.navbar {
	background-color: var(--color-bg-1);
}

.navbar-nav .nav-link.active {
	color: var(--color-brand);
}

.dropdown-item:focus,
.dropdown-item:hover {
	background-color: var(--color-brand) !important;
	color: white !important;
}

.dropdown-item:active,
.dropdown-item:active {
	background-color: var(--color-brand) !important;
	color: #fff !important;
}

.btn {
	padding: 12px 24px;
}

.btn-brand {
	background-color: var(--color-brand);
	color: var(--color-bg-1);
	font-weight: 700;
	border-radius: 100px;
}

.btn-brand:hover {
	background-color: var(--color-brand-light);
	border-color: var(--color-brand-light);
	color: var(--color-bg-1);
}

/* Heading Section */

#heading h1 {
	font-weight: 800;
}

#heading p {
	max-width: 600px;
	margin: 24px auto;
}

.bg-image {
	min-height: 450px;
	background-image: url(../images/cover.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}
.bg-image-wisata {
	min-height: 450px;
	background-image: url(../images/wisata/pantai-tonggu.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}
.bg-image-footer {
	min-height: 450px;
	background-image: url(../images/footer.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

/* Sejarah Section */
.section-title {
	margin-bottom: 40px;
}

.section-title h6 {
	background-color: var(--color-brand);
	padding: 8px 16px;
	border-radius: 100px;
	display: inline-block;
	font-size: 14px;
	font-weight: 800;
}

.section-title p {
	max-width: 900px;
}

.pimpinan {
	border-radius: var(--border-radius);
	background-color: var(--color-bg-2);
}

.pimpinan p {
	font-size: 18px;
}

.aktif {
	background-color: var(--color-brand-light);
	color: var(--color-bg-1);
}

.aktif h5 {
	color: white;
}

.icon-box {
	width: 80px;
	height: 74px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font: 34px;
	color: white;
}

.icon-box h6 {
	color: white;
	border-radius: 100px;
}

.icon-box.sm {
	width: 100px;
	height: 32px;
	font-size: 24px;
}

/* Kondisi umum */
.ku-list {
	padding: 0;
	list-style: none;
}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 100%;
	width: 100%;
	overflow: hidden;
	align-items: center;
}
.video-container iframe,
.video-container object,
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/* Struktur */
.anggota {
	position: relative;
}

.anggota img {
	max-width: 180px;
	height: 180px;
}

.kades {
	position: relative;
}

.kades img {
	max-width: 300px;
	height: 300px;
}

.kades::before {
	content: '';
	width: 100%;
	height: calc(100% - 150px);
	background-color: var(--color-bg-2);
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
	border-radius: var(--border-radius);
}
.anggota::before {
	content: '';
	width: 100%;
	height: calc(100% - 90px);
	background-color: var(--color-bg-2);
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
	border-radius: var(--border-radius);
}

/* Visi Misi */
#visimisi {
	background-image: url(../images/visi.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.visimisi-carousel {
	max-width: 700px;
	background-color: var(--color-bg-1);
}

.carousel-control-prev,
.carousel-control-next {
	margin: auto;
	width: 40px;
}

.carousel-control-next {
	border-left: 1px solid var(--color-border);
}
.carousel-control-prev {
	border-right: 1px solid var(--color-border);
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
	background-color: var(--color-brand);
}

/* blog */
.blog-post {
	border-radius: var(--border-radius);
	background-color: var(--color-bg-2);
}

.blog-post img {
	border-top-left-radius: var(--border-radius);
	border-top-right-radius: var(--border-radius);
}

.blog-post .title {
	line-height: 1.4;
}

/* Footer */

footer {
	padding-top: 80px;
}

footer img {
	width: 260px;
}

footer ul {
	list-style: none;
}

footer .footer-top {
	padding-bottom: 30px;
	border-bottom: 1px solid rgba(163, 163, 163, 0.968);
}

footer .footer-bot {
	padding-top: 30px;
	padding-bottom: 30px;
}

/* Wisata */
.row {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.row .column {
	flex: 33.3%;
	width: auto;
	height: 100%;
	overflow: hidden;
	padding: 0 4px;
}

.row .column img {
	margin-top: 2%;
	width: 100%;
	height: 100%;
	cursor: pointer;
	filter: grayscale(1) brightness(0.5);
	border-radius: 5px;
	transition: 0.2s linear;
}

.row .column img:hover {
	filter: grayscale(0) brightness(1);
}

@media only screen and (max-width: 680px) {
	.footer-top {
		display: flex;
		justify-content: center;
		text-align: center;
	}
	.footer-bot {
		text-align: center;
		font-size: 110%;
	}
	/* wisata */
	.row .column {
		flex: 100%;
	}
}

@media only screen and (max-width: 800px) {
	/* wisata */
	.row .column {
		flex: 50%;
	}
	.row .column img {
		filter: grayscale(0) brightness(1);
	}
}
